<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Random Quote</title>
  <link rel="stylesheet" href="/normalize.css">
  <style>
    body {
      min-width: 320px;
      margin: 5vh;
      font-family: 'Hoefler Text', serif;
      font-weight: lighter;
    }

    .container {
      margin: auto;
      width: 60%;
    }

    .quote {
      font-size: 3rem;
    }

    .author {
      text-align: right;
      font-size: 1.5rem;
    }

    @media only screen and (max-width: 768px) {
      .container {
        width: 90%;
      }
      .quote {
        font-size: 2rem;
      }
      .author {
        font-size: 1.2rem;
      }
    }
  </style>
</head>
<body ontouchstart>
  <h1>Get A Random Quote</h1>

  {{{body}}}

</body>
</html>
