<p><a href="/">Back</a></p>
<p>Category: {{ output.category }}</p>
<div class="container">
  <p class="quote">
    “{{ output.quote }}”
  </p>
  <p class="author">
    —{{ output.author }}
  </p>
</div>
